.navbar{
    height:80px;
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
   
}
.icon{
    display:inline-block;
    font-family:fantasy;
    font-size:30px;
    color:darkorange;
    margin-right:80px;
    width:auto;
}
.search{
    float:right;
    display:inline-block;
}
.links{
    display:inline-block;
    font-size:20px;
    padding:3px;
    color:white;
}
.links:hover{
    background-color:black;
}
